#one{
	height: 100px;
	width: 100%;
	background-color: blue;
}
#two{
	height: 460px;
	width: 100%;
	background-color: red;
}
.three{
	height: 460px;
	width: 100%;
	background-color: yellow;
}
nav{
	margin-left:30px;
	padding: 10px;
	float: left;
}
header{
	position: fixed;
	height: 100px;
	width: 100%;
	background-color: yellow;
}
.five{
	height: 100px;
	width: 100px;
	background-color: purple;
	border: 3px line black;
	box-shadow: 10px 13px 17px red
	border-radius: 50%;
	background:-webkit-linear-gradient(top,yellow,red)
	background:-moz-linear-gradient(top,yellow,red)
	background:-moz-linear-gradient(top,yellow,red)
}